#!/bin/bash
sudo hostnamectl set-hostname ${new_hostname} &&
sudo apt-get install -y lolcat figlet &&
echo "function lolbanner() {
  figlet -c -f ~/.local/share/fonts/figlet-fonts/3d.flf ${new_hostname} | lolcat
}
lolbanner" >> ~/.bashrc
exit 0
